.slider-wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 195px;
    padding: 0 7px;
}
.image-slider {
    height: 195px;
    border-radius: var(--border-radius);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1450px) {
    .slider-wrapper {
        width: 958px;
    }

    .image-slider {
        height: 150px;
    }
}
