.slider-wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 195px;
}
.image-slider {
    width: 1200px;
    height: 195px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
